<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pizza Shop</title>
  <link rel='stylesheet' href = '/style.css'>
</head>
<body>
  <nav>

        <a class="mybutton2" href = "/pizza-orders" role="button">All Orders</a>
        <a class="mybutton2" href = "/pizza-orders/new" role="button">New Order</a>

  </nav>
  <%= yield %>
</body>
</html>
