<h1>New Order</h1>

<div class="edit">
<form method='post' action='/pizza-orders'>
  <br>
  <br>
  <label for='first-name'><strong>First Name:</strong></label>
  <input id='first-name' type="text" name='first_name'/>
  <br>
  <br>
  <label for='last-name'><strong>Last Name:</strong></label>
  <input id='last-name' type="text" name="last_name"/>
  <br>
  <br>
  <label for='pizza-select'><strong>Select a pizza:</strong></label>
  <select id='pizza-select' name='topping'>
    <option value='Margherita'>Margherita</option>
    <option value='Calzone'>Calzone</option>
  </select>
  <br>
  <br>
  <label for='quantity'><strong>Quantity:</strong></label>
  <input id ='quantity' type = 'number' name = 'quantity'/>
  <br>
  <br>
  <br>
  <input class="mybutton" type='submit' role="button" value='Order Pizza'/>
  <br>
  <br>
  <br>
</form>

</div>
